@import './mixins.scss';
.banner-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url('./../assets/images/front-banner-mob.png');
    background-position-x: center;
    background-position-y: top;
    text-align: center;
    background-repeat: no-repeat;
    @include desk {
        background-image: url('./../assets/images/front-banner.png');
    }
    @media (min-width: 1500px) {
        height: auto;
    }
    @include huge {
        height: 1800px;
    }
}

.banner-hashtag {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    color: white;
    @include mob {
        right: unset;
        left: 40px;
    }
}

.inner-container {
    max-width: 775px;
    color: white;
    margin-top: 500px;
    @include mob {
        margin-top: 470px;
    }
    @include tab {
        padding: 0;
    }
    @include desk {
        margin-top: 700px;
    }
}

.banner {
    margin-top: 130px;
}

.hand {
    margin: 30px auto 30px;
    display: block;
    -webkit-animation: softBounce 0.8s infinite alternate ease-in-out;
    animation: softBounce 0.8s infinite alternate ease-in-out;
    @keyframes softBounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    @include desk {
        margin: 10px auto 80px;
    }
}

.video-header {
    margin-bottom: 45px;
    font-size: 30px;
    padding: 0 10px;

    @include desk {
        padding: 0;
        margin-bottom: 55px;
    }

    span {
        font-weight: bold;
    }
}

iframe {
    width: 100%;
    height: 200px;
    @media (min-width: 390px) {
        height: 300px;
    }
    @include mob {
        height: 440px;
    }
    @media (min-width: 1500px) {
        width: 1200px;
        height: 770px;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

.logo {
    position: absolute;
    display: none;
    @include wide {
        display: block;
        top: 845px;
        right: 20px;
    }
}

.logo-fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

h1 {
    font-size: 35px;
    font-weight: normal;
    margin: 0 0 40px 0;
    @include mob {
        font-size: 45px;
    }
}

.main-text {
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 1.8;
    padding: 0 10px;
    @include mob {
        font-size: 18px;
    }
    @include desk {
        padding: 0;
    }
    span {
        font-weight: bold;
    }
}

.video-link {
    padding: 0 10px;
}

.scroll-button {
    background-color: #d3002b;
    border: none;
    max-width: 380px;
    padding: 23px 50px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    margin: 0 auto 45px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    @include mob {
        font-size: 20px;
        padding: 27px 60px;
    }
    span {
        font-weight: bold;
    }

    @include desk {
        margin: 0 auto 115px;
    }
}