@import './mixins.scss';

.banner-container {
    width:100%;
    height: 2100px;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url('./../assets/images/front-banner-mob.png');
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;

    @include mob {
        background-image: url('./../assets/images/front-banner-tab.png');
    }

    @include tab {
        background-image: url('./../assets/images/front-banner-desk.png');
    }
    
    @include desk {
        background-image: url('./../assets/images/front-banner.png');
    }
}

.banner-hashtag {
    position: absolute;
    top: 30px;
    left: 40px;
    display: block;
    z-index: 1;
    color: white;
}

.inner-container {
    max-width: 760px;
    color: white;
    margin-top: 1000px;
}

.banner {
    margin-top: 130px;
}

.hand {
    margin: 0 auto 80px;
    display: block;
}

.video-header {
    margin-bottom: 55px;
    font-size: 30px;
}

.video-header span {
    font-weight: bold;
}

.video {
    position: absolute;
    bottom: 0;
    transform:translateY(50%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.logo {
    position: absolute;
    bottom: 20px;
    right: 20px;

}

h1 {
    font-size: 45px;
    font-weight: normal;
    margin: 0 0 40px 0;
}

.main-text {
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.8;

    span {
        font-weight: bold;
    }
}

button {
    background-color: #d3002b;
    border: none;
    max-width: 380px;
    padding: 27px 60px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    margin-bottom: 115px;
    cursor: pointer;

    span {
        font-weight: bold;
    }
}