// Small tablets and large smartphones (landscape view)
$mob: 576px;

// Small tablets (portrait view)
$tab: 768px;

// Tablets and small desktops
$desk: 992px;

// Large tablets and desktops
$wide: 1200px;

// Large screens
$huge: 1400px;