.footer-container{
    background-color: #141414;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.terms-link {
    color: white;
    text-decoration: none;
}

.terms-link:hover {
    text-decoration: underline;
}