.gif-container {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    position: relative;
}

.gif-container:before {
    background-image: url('./../assets/images/background-foot.png');
    position: absolute;
    display: block;
    content: "";
    top: 345px;
    right: 0;
    background-repeat: no-repeat;
    width: 535px;
    min-height: 100%;
}

.inner-container {
    display: flex;
    flex-direction: row;
    margin-top: 575px;
}

.gif {
    margin-right: 100px;
}

.gif-text {
    max-width: 550px;
    padding-right: 170px;
    box-sizing: border-box;
}

.gif-text h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin: 245px 0 15px;
    color: black;
}

.gif-text span {
    font-size: 20px;
    color: black;
    text-align: left;
    line-height: 1;
}

.white-hand {
    display: block;
    margin: 130px auto 0 auto;
}